@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/purple-green.css';

.commits {
  max-width: 1000px;
  margin-left: 15%;
  /*display: flex;
  justify-content: center;*/
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.spinner {
  margin: 20% auto 0;
}

table {
  width: 100%;
}
