<mat-progress-spinner class="spinner" *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-spinner>
<div class="table">
  <span class="heading">
    <h2> {{ title }}</h2>
  </span>
  <div *ngIf="commits" class="commits mat-elevation-z8">
    <table mat-table [dataSource]="commits">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.commit.author.name }} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.commit.author.date | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{ element.commit.message }} </td>
      </ng-container>

      <ng-container matColumnDef="commit#">
        <th mat-header-cell *matHeaderCellDef> Commit # </th>
        <td mat-cell *matCellDef="let element"> <a [href]="element.html_url" target="_blank">{{ element.sha }}</a> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator color="accent" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>
