@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.commits {
  max-width: 1000px;
  margin-left: 15%;
  display: flex;
  justify-content: center;
}

.heading {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}
